/* configuracion general */
body{
    margin: 0;
    padding: 20px;
    /* espacios respecto al navegador */
    font-family: Arial, sans-serif;
    background-color: aliceblue;

    min-height: 100vh;
    /* ajustando el alto de pagina */
}
/* contenedor principoal que utilizara todo el ancho de la pantalla */
/* esto es una clase en css */
.container{ 
    width: 100%;
}

/* HEADER */
header{
    background-color: orange;
    color: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* navegacion */
nav{
    background-color: rgba(255, 204, 0, 0.751);
    padding: 10px 15px;
    border-radius: 10px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;

}

nav a{
    text-decoration: none;
    color: rgba(82,79, 79, 0.648);
    font-weight: bold;

}

nav a:hover{
    color: black;
    

} 